﻿@media only screen and (max-width: 1600px) {
	.header_social {
		display: none;
	}
}

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 1380px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 1100px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 991px) {
	.main-carousel {
		padding-left: 30px;
		padding-right: 30px;
	}

	.home_slider_title {
		font-size: 48px;
	}

	.home_slider_dots_container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.avds_container {
		height: auto;
		padding-left: 30px;
		padding-right: 30px;
	}

	.avds_small {
		width: 100%;
		height: 490px;
	}

	.avds_large {
		width: 100%;
		height: 490px;
		margin-top: 30px;
	}

	.product {
		width: calc(~"(100% - 30px) / 2");
	}

	.icon_box_col:not(:last-child) {
		margin-bottom: 60px;
	}

	.icon_box {
		padding-left: 80px;
		padding-right: 80px;
	}
}

@media only screen and (max-width: 959px) {

}

@media only screen and (max-width: 870px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 767px) {
	.home_slider_content {
		max-width: 100%;
	}

	.main-carousel {
		padding-left: 0px;
		padding-right: 0px;
	}

	.home_slider_dots_container {
		display: none;
	}

	.avds_xl_container {
		padding: 30px;
	}

	.avds_xl_content {
		width: 100%;
	}

	.icon_box {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media only screen and (max-width: 575px) {
	.home {
		height: 100vh;
	}

	.main-carousel {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.home_slider_title {
		font-size: 24px;
	}

	.home_slider_subtitle {
		font-size: 13px;
		margin-top: 15px;
	}

	.home_button {
		margin-top: 32px;
	}

	.avds_container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.avds_large_content {
		max-width: calc(~"100% - 30px");
	}

	.avds_title {
		font-size: 24px;
	}

	.avds_text {
		font-size: 13px;
	}

	.product {
		width: 100%;
	}

	.avds_large_content {
		padding-right: 30px;
	}

	.newsletter_title {
		font-size: 24px;
	}

	.newsletter_button {
		width: 128px;
		height: 41px;
	}

	.newsletter_button span {
		font-size: 13px;
	}
}

@media only screen and (max-width: 539px) {

}

@media only screen and (max-width: 480px) {
	.icon_box {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media only screen and (max-width: 479px) {
	.avds_xl_content {
		padding: 30px;
	}
}

@media only screen and (max-width: 400px) {

}