﻿@media only screen and (max-width: 1600px) {
	.header_social {
		display: none;
	}
}

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 1380px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 1100px) {

}

@media only screen and (max-width: 1024px) {
	.main_nav {
		display: none;
	}

	.icon-nav {
		right: 124px;
	}

	.hamburger {
		display: inline-block;
	}
}

@media only screen and (max-width: 991px) {
	.footer_overlay {
		height: 200px;
	}

	.footer_content {
		height: 200px;
	}

	.footer_logo,
	.copyright,
	.footer_social {
		text-align: center;
		width: 100%;
	}

	.copyright {
		margin-top: 15px;
	}

	.footer_social {
		margin-top: 21px;
	}
}

@media only screen and (max-width: 959px) {

}

@media only screen and (max-width: 870px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
	p {font-size: 13px;}

	.menu {
		width: 100vw;
		right: -100vw;
	}

	.menu-container {
		padding-top: 80px;
	}

	.slider-menu-item > a,
	.page_menu_selection li a {
		font-size: 13px;
		height: 40px;
		line-height: 40px;
	}

	.header_container {
		padding-left: 0px;
		padding-right: 0px;
	}

	.header_content {
		height: 70px;
	}

	.logo a,
	.header.scrolled .logo a {
		font-size: 18px;
	}

	.button {
		width: 148px;
		height: 41px;
	}

	.button a {
		font-size: 13px;
		line-height: 37px;
	}

	.copyright {
		font-size: 13px;
	}

	.footer_logo a {
		font-size: 24px;
	}
}

@media only screen and (max-width: 539px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 479px) {

}
@media only screen and (max-width: 400px) {

}