﻿@media only screen and (max-width: 1600px)
{
}

@media only screen and (max-width: 1440px)
{

}

@media only screen and (max-width: 1380px)
{

}

@media only screen and (max-width: 1280px)
{

}

@media only screen and (max-width: 1199px)
{
}

@media only screen and (max-width: 1100px)
{

}

@media only screen and (max-width: 1024px)
{

}

@media only screen and (max-width: 991px)
{
	.product
	{
		width: calc(~"(100% - 30px) / 2");
	}
}

@media only screen and (max-width: 959px)
{

}

@media only screen and (max-width: 880px)
{

}


@media only screen and (max-width: 768px)
{

}

@media only screen and (max-width: 767px)
{

	.sorting_container
	{
		margin-top: 15px;
	}
}

@media only screen and (max-width: 575px)
{
	.results
	{
		font-size: 13px;
	}
	.item_sorting > li
	{
		width: 161px;
		font-size: 13px;
	}
	.product
	{
		width: 100%;
	}
}


@media only screen and (max-width: 539px)
{

}


@media only screen and (max-width: 480px)
{
}

@media only screen and (max-width: 479px)
{

}

@media only screen and (max-width: 400px)
{

}