﻿body {
	.sell {
		@media only screen and (max-width: 1600px) {
			.header_social {
				display: none;
			}
		}

		@media only screen and (max-width: 1440px) {
		}

		@media only screen and (max-width: 1380px) {
		}

		@media only screen and (max-width: 1280px) {
		}

		@media only screen and (max-width: 1199px) {
		}

		@media only screen and (max-width: 1100px) {
		}

		@media only screen and (max-width: 1024px) {
		}

		@media only screen and (max-width: 991px) {
			.sell_col:first-child {
				margin-bottom: 90px;
			}
		}

		@media only screen and (max-width: 959px) {
		}

		@media only screen and (max-width: 880px) {
		}

		@media only screen and (max-width: 768px) {
		}

		@media only screen and (max-width: 767px) {
		}

		@media only screen and (max-width: 575px) {
			.sell_form label {
				font-size: 13px;
			}

			.sell_input {
				height: 41px;
			}
		}

		@media only screen and (max-width: 539px) {
		}

		@media only screen and (max-width: 480px) {
		}

		@media only screen and (max-width: 479px) {
		}

		@media only screen and (max-width: 400px) {
		}
	}
}
