﻿// COLORS //
@import "../properties/colors";

// MIXINS
@import "../mixins/mixins";


.sell {
	.photos-content {
		.flex-row(flex-start);
		height: 500px;
	}

	.photo-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row: auto;
		grid-gap: 60px;
		width: 100%;
		height: 100%;
		margin-left: 60px;
	}

	.drag-and-drop {
		.flex-row(center);
		height: 100%;
		min-width: 300px;
		overflow: hidden;
		cursor: pointer;
		padding: 10px;
		z-index: 1;
		.with-theme({
			background: @hint;
			border: 3px dashed @secondary;
		});

		svg {
			position: relative;
			height: 120px;
			z-index: 1;
			.with-theme({
				color: @secondary;
			});
		}

		path {
			.with-theme({
				fill: @secondary;
			});
		}

		input[type="file"] {
			position: absolute;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			outline: none;
			opacity: 0;
			z-index: 2;
			cursor: pointer;
		}

		&.filled {
			.with-theme({
				border: 3px solid @secondary;
				background: @success;

				&:hover path {
					fill: @success;
				}
			});
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			opacity: 0;
			.with-theme({
				background: @secondary;
			});
			.transfosition-properties(
				rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0),
				transform 300ms opacity 300ms background 300ms
			);
			.transform-origin-properties(0 100%);
		}

		&:hover {
			path {
				.with-theme({
					fill: @primary;
				});
			}
		}

		&:hover::after {
			opacity: 1;
			-webkit-transform: rotate3d(0, 0, 1, 0deg);
			transform: rotate3d(0, 0, 1, 0deg);
			-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
			transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		}
	}
}

