﻿// COLORS //
@import "../properties/colors";

// MIXINS
@import "../mixins/mixins";

.sell {
	width: 100%;
	z-index: 2;
	padding-top: 10px;
	padding-bottom: 90px;

	.page_title {
		font-size: 30px;
		font-weight: 600;
		.with-theme({
			color: @secondary;
		});
		margin-left: 0;
		margin-top: 5px;
	}

	.page_subtitle {
		font-size: 14px;
		font-weight: 400;
		.with-theme({
			color: @secondary;
		});
		margin-top: 3px;
		margin-left: 14px;
	}


	.step-progress-panel {
		display: flex;
		justify-content: center;
		height: 80px;
		margin: 10px 400px;

		ul {
			width: 90%;
			height: inherit;
			display: flex;
			justify-content: space-evenly;
		}

		li {
			display: flex;
			align-items: center;
		}

		li.active span,
		li.passed span {
			.with-theme({
				background: @secondary;
			});
			cursor: pointer;
		}

		li svg {
			.with-theme({
				fill: @secondary;
			});
		}

		li.active svg,
		li.passed svg {
			.with-theme({
				fill: @primary;
			});
		}

		li:not(:last-child) {
			flex: 1;
		}

		li:not(:last-child):after {
			content: "";
			.with-theme({
				background: @primary;
				outline: 3px solid @secondary;
				box-shadow: 3px 5px 6px 0 fade(@elevation, 40%);
			});

			height: 3px;
			width: calc(~"100% - 50px");
		}

		li.passed:after {
			.with-theme({
				background: @secondary;
			});
		}

		span {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			.with-theme({
				background: @primary;
				border: 3px solid @secondary;
				box-shadow: 3px 3px 9px -1px fade(@elevation, 30%);
			});
		}

		svg {
			width: 25px;
			height: 25px;
		}
	}

	.step-content {
		margin: 50px 100px;
		padding: 20px 40px;
		border-radius: 10px;
		.with-theme({
			background: @primary;
			.elevation(6, @elevation);
		});
	}

	.sell-form {
		& > div:not(:last-child) {
			margin-bottom: 14px;
		}

		label {
			font-size: 14px;
			font-weight: 500;
			.with-theme({
				color: @passive;
			});
		}
	}

	.sell_input {
		width: 100%;
		height: 50px;
		.with-theme({
			background: @hint;
			border: 2.8px solid @secondary;
		});
		outline: none;
		padding-left: 15px;
	}

	.sell_textarea {
		height: 197px;
		padding-top: 15px;
	}

	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 200px;
		height: 50px;
		margin-top: 30px;
		font-weight: 700;

		span {
			display: block;
			position: relative;
			.with-theme({
				color: @secondary;
			});
			z-index: 2;
			.transform-properties(all 200ms ease)
		}

		svg {
			position: absolute;
			.with-theme({
				fill: @secondary;
			});
			width: 23px;
			height: 23px;
		}

		&:hover {
			span {
				.with-theme({
					color: @primary;
				});
			}

			svg {
				z-index: 1;
				.with-theme({
					fill: @primary;
				});
			}
		}
	}

	.form-actions {
		display: flow-root;

		button.next {
			float: right;

			svg {
				right: 15px;
			}
		}

		button.prev {
			float: left;

			svg {
				left: 15px;
				transform: scale(-1, 1);
			}

			path {
				transform: translate(2000) scale(-1, 1);
			}
		}
	}

	.toggle-box {
		justify-content: flex-end;
		font-size: 20px;
		.with-theme({
			color: @secondary;
		});
		font-weight: 500;

		span {
			padding-right: 15px;
			display: inline-flex;
			align-items: center;
			font-weight: 600;
		}
	}
}
