﻿@import url("https://fonts.googleapis.com/css?family=Oxanium:300,400,500,600,700,800,900");

@import url("https://fonts.googleapis.com/css?family=Orbitron:300,400,500,600,700,800,900");

@import url("https://fonts.googleapis.com/css?family=Audiowide:300,400,500,600,700,800,900");