﻿@using Web.Utils.Helpers
@using Core.Entities.Users
@using Microsoft.AspNetCore.Identity
@model Core.Model.IFilteredModel<Core.Entities.Products.SneakerProduct>
@inject SignInManager<User> SignInManager;

@if (Model is null || !Model.Any())
{
	await Html.RenderPartialAsync("Partial/_NoResultsPartial", Model);
	return;
}
<div class="products-view grid">
	@foreach (var product in Model)
	{
		if (product == null)
		{
			continue;
		}
		var price = product.Price != 0m ? $"${product.Price}" : string.Empty;
		<div class="product-cell" id="@product.UniqueID">
			<div class="info-header">
				<div class="price">@price</div>
			</div>
			<div class="thumb">
				<img src="@product.Photos.FirstOrDefault()" alt="">
			</div>
			@*@if (DateTime.Today.Subtract(reference.AddedAt).Days < 5)
			{
				<div class="product_extra product_new">
					<a>New</a>
				</div>
			}*@
			<div class="info-footer">
				<div class="brand-title">
					<a class="underline" asp-action="Brand" asp-route-productId=@product.Brand.Name asp-controller="Shop">
						@Html.DisplayFor(modelItem => product.BrandName)
					</a>
				</div>
				<div class="model-title">
					@*TODO link to model page*@
					<a class="underline" asp-action="ProductItem" asp-route-productId=@product.UniqueID asp-controller="Shop">
						@Html.DisplayFor(modelItem => product.ModelName)
					</a>
				</div>
				<div class="description">
					@product.Description
				</div>
				@if (SignInManager.IsSignedIn(Context.User))
				{
					<div class="favorite">
						<input type="checkbox" asp-for="@product.Liked"/>
						@Html.VectorIconRender("favorite.svg")
					</div>
				}
			</div>
		</div>
	}
</div>

@{ await Html.RenderPartialAsync("_PagedPartial", Model); }