﻿@using Web.Utils.Helpers
@using Microsoft.AspNetCore.Identity
@using Core.Entities.Users
@model Core.Model.IFilteredModel<Core.Entities.References.SneakerReference>
@inject SignInManager<User> SignInManager;

@if (Model is null || !Model.Any())
{
	await Html.RenderPartialAsync("Partial/_NoResultsPartial", Model);
	return;
}

<div class="products-view grid">
	@foreach (var reference in Model)
	{
		if (reference == null)
		{
			continue;
		}
		var price = reference.Price != 0m ? $"${reference.Price}" : string.Empty;
		<div class="product-cell" id="@reference.UniqueID">
			<div class="info-header">
				<div class="price">@price</div>
			</div>
			<div class="thumb">
				<img src="@reference.ImagePath" alt="">
			</div>
			@*@if (DateTime.Today.Subtract(reference.AddedAt).Days < 5)
			{
				<div class="product_extra product_new">
					<a>New</a>
				</div>
			}*@
			<div class="info-footer">
				<div class="brand-title">
					<a class="underline" asp-controller="Shop" asp-action="Brand" asp-route-brandID="@reference.Brand.Name" >
						@Html.DisplayFor(modelItem => reference.BrandName)
					</a>
				</div>
				<div class="model-title">
					@*TODO link to model page*@
					<a class="underline" asp-action="ReferenceItem" asp-route-referenceId="@reference.UniqueID" asp-controller="Shop">
						@Html.DisplayFor(modelItem => reference.ModelName)
					</a>
				</div>
				<div class="description">
					@reference.Description
				</div>
				@if (SignInManager.IsSignedIn(Context.User))
				{
					<div class="favorite">
						<input type="checkbox" value="true" @(reference.Liked ? "checked" : "")/>
						@Html.VectorIconRender("favorite.svg")
					</div>
				}
			</div>
		</div>
	}
</div>

@{ await Html.RenderPartialAsync("_PagedPartial", Model); }