﻿@using Core.Entities.References
@using Web.Utils.Helpers
@model Core.Entities.References.SneakerReference
@{
	ViewBag.Title = Model.ModelName;
	Layout = "~/Views/Shared/_Layout.cshtml";
	var relatedReferences = ViewBag.RelatedReferences as List<SneakerReference>;
}

@section Styles
{
	<link href="~/styles/css/shop/product-item.css" rel="stylesheet"/>
	<link href="~/styles/css/responsive/product-item.responsive.css" rel="stylesheet"/>
	<link href="~/plugins/flickity/flickity.css" rel="stylesheet"/>
}

<!-- Reference Details -->
<div class="product-item">
	<div class="product-content">
		<section class="row product-header elevated">
			<div class="col-sm product-gallery">
				<div class="image-carousel">
					@foreach (var imageLink in new[] {Model.ImageLink}.Union(Model.ImageLinks).Distinct())
					{
						<picture>
							<source srcset="@imageLink" media="(min-width: 600px)">
							<img src="@imageLink" alt="">
						</picture>
					}
				</div>
			</div>

			<!-- Reference Content -->
			<div class="col-sm product-title">
				<div class="title-header">

					<div class="favorite-product">
						<input type="checkbox" @(Model.Liked ? "checked" : "")/>
						@Html.VectorIconRender("favorite.svg")
					</div>
				</div>
				<div class="title-body">
					<div class="brand-title">@Html.DisplayFor(model => Model.BrandName)</div>
					<div class="model-title">@Html.DisplayFor(model => Model.ModelName)</div>
					<div class="sku-title">SKU: @Html.DisplayFor(model => Model.ManufactureSku)</div>
				</div>
				<div class="title-footer">
					<button class="button">
						<a asp-action="Checkout" asp-controller="Checkout">BUY NEW</a>
					</button>
					<button class="button">
						<a asp-action="Products" asp-route-referenceId="@Model.UniqueID">BUY USED</a>
					</button>
				</div>
			</div>
		</section>
		<section class="row product-details carousel">
			<h3 class="carousel-title">DETAILS</h3>
			<div class="carousel-wrapper js-flickity" data-flickity-options='{ "wrapAround": true }'>
				<div class="carousel-cell">
					<div class="details-caption">BRAND</div>
					<a class="underline details-info">@Model.BrandName</a>
				</div>
				@if (Model.ReleaseDate != DateTime.MinValue)
				{
					<div class="carousel-cell">
						<div class="details-caption">RELEASE DATE</div>
						<a class="underline details-info">@Model.ReleaseDate.ToShortDateString()</a>
					</div>
				}
				<div class="carousel-cell">
					<div class="details-caption">SKU</div>
					<a class="underline details-info">@Model.ManufactureSku</a>
				</div>
				@if (!string.IsNullOrEmpty(Model.Nickname))
				{
					<div class="carousel-cell">
						<div class="details-caption">NICKNAME</div>
						<a class="underline details-info">@Model.Nickname</a>
					</div>
				}
				<div class="carousel-cell">
					<div class="details-caption">MAIN COLOR</div>
					<a class="underline details-info">@Model.Color?.Split("/")[0]</a>
				</div>
				<div class="carousel-cell">
					<div class="details-caption">COLORWAY</div>
					<a class="underline details-info">@Model.Color</a>
				</div>
				<div class="carousel-cell">
					<div class="details-caption">GENDER</div>
					<a class="underline details-info">@Model.Gender</a>
				</div>
				<div class="carousel-cell">
					<div class="details-caption">DESIGNER</div>
					<a class="underline details-info">@Model.BrandName</a>
				</div>
				<div class="carousel-cell">
					<div class="details-caption">TECHNOLOGY</div>
					<a class="underline details-info">Model.Technology</a>
				</div>
				@if (Model.Materials != null && Model.Materials.Any())
				{
					<div class="carousel-cell">
						<div class="details-caption">MATERIALS</div>
						<a class="underline details-info">@string.Join(", ", Model.Materials)</a>
					</div>
				}
				@if (Model.Categories != null && Model.Categories.Any())
				{
					<div class="carousel-cell">
						<div class="details-caption">CATEGORY</div>
						<a class="underline details-info">@string.Join(", ", Model.Categories)</a>
					</div>
				}
			</div>
		</section>

		@if (!string.IsNullOrEmpty(Model.Description))
		{
			<section class="row product-description elevated">
				<h3 class="description_title">DESCRIPTION</h3>
				<div class="description-content">
					@Model.Description
				</div>
			</section>
		}

		@if (relatedReferences != null && relatedReferences.Any())
		{
			<section class="row product-related carousel reference-carousel">
				<h3 class="carousel-title">RELATED MODELS</h3>
				<div class="carousel-wrapper js-flickity" data-flickity-options='{"wrapAround": true}'>
					@foreach (var reference in relatedReferences)
					{
						<div class="carousel-cell" id="@reference.UniqueID">
							<div class="info-header">
								<div class="price">@(reference.Price != 0m ? $"${reference.Price}" : string.Empty)</div>
							</div>
							<div class="thumb">
								<img src="@reference.ImagePath" alt="">
							</div>
							<div class="info-footer">
								<div class="brand-title">
									<a class="underline" asp-action="Brand" asp-route-brandID=@reference.Brand.Name>
										@reference.BrandName
									</a>
								</div>
								<div class="model-title">
									<a class="underline" asp-action="ReferenceItem" asp-route-referenceId=@reference.UniqueID>
										@reference.ModelName
									</a>
								</div>
								<div class="favorite-product">
									<input type="checkbox" @(reference.Liked ? "checked" : "")/>
									@Html.VectorIconRender("favorite.svg")
								</div>
							</div>
						</div>
					}
				</div>
			</section>
		}
	</div>
</div>


@section Scripts
{
	<script src="~/scripts/shop/productItem.js"></script>
	<script src="~/plugins/flickity/flickity.min.js"></script>
}