﻿@using Core.Entities.References
@using Web.Utils.Helpers
@model List<Web.Models.HomePageInfoViewModel>
@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var featuredReferences = ViewBag.FeaturedReferences as List<SneakerReference>;
}

@section Styles
{
	<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
	<link href="~/styles/css/home/home.css" rel="stylesheet"/>
	<link href="~/styles/css/shop/product-item.css" rel="stylesheet"/>
	<link href="~/styles/css/responsive/home.responsive.css" rel="stylesheet"/>
	<link href="~/plugins/flickity/flickity.css" rel="stylesheet"/>

}

<div class="home">
	<section class="main-carousel">
		<!-- Home Slider -->
		<div class="owl-carousel owl-theme home-auto-slider">
			@foreach (var info in Model)
			{
				<!-- Slider Item -->
				<div class="owl-item auto-slider-item">
					<div class="auto-slider-background" style="background-image: url(@info.Image)"></div>
					<div class="auto-slider-content-container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="auto-slider-content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
										<div class="auto-slider-title">@info.Title</div>
										<div class="auto-slider-subtitle">@info.Description</div>
										<div class="button button_light home_button" id="home-button">
											<a href=@info.ButtonAction>@info.ButtonCaption</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>

		<!-- Home Slider Dots -->
		<div class="auto-slider-dots_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="auto-slider-dots">
							<ul class="auto-slider-dots-list">
								<li class="auto-slider-dot active">01.</li>
								<li class="auto-slider-dot">02.</li>
								<li class="auto-slider-dot">03.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>


	@if (featuredReferences != null && featuredReferences.Any())
	{
		<section class="carousel reference-carousel">
			<h3 class="carousel-title">FEATURED MODELS</h3>
			<div class="carousel-wrapper js-flickity" data-flickity-options='{ "wrapAround": true }'>
				@foreach (var reference in featuredReferences)
				{
					<div class="carousel-cell" id="@reference.UniqueID">
						<div class="info-header">
							<div class="price">@(reference.Price != 0m ? $"${reference.Price}" : string.Empty)</div>
						</div>
						<div class="thumb">
							<img src="@reference.ImagePath" alt="">
						</div>
						<div class="info-footer">
							<div class="brand-title">
								<a class="underline" asp-action="Brand" asp-controller="Shop" asp-route-brandID=@reference.Brand.Name>@reference.BrandName</a>
							</div>
							<div class="model-title">
								@*TODO link to model page*@
								<a class="underline" asp-action="ReferenceItem" asp-controller="Shop" asp-route-referenceId=@reference.UniqueID>@reference.ModelName</a>
							</div>
							<div class="favorite-product">
								<input type="checkbox" @(reference.Liked ? "checked" : "")/>
								@Html.VectorIconRender("favorite.svg")
							</div>
						</div>
					</div>
				}
			</div>
		</section>
	}

	<!-- Newsletter -->

	<section class="newsletter">
		<div class="container">
			<div class="row">
				<hr class="newsletter_border"/>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="newsletter_content text-center">
						<div class="newsletter_title">Subscribe to our newsletter</div>
						<div class="newsletter_text">
							<p>Subscribe to our newsletter and stay updated on the latest developments and special offers!</p>
						</div>
						<div class="newsletter_form_container">
							<form action="#" id="newsletter_form" class="newsletter_form">
								<input type="email" class="newsletter_input" required="required">
								<button class="button">
									<span>Subscribe</span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
@section Scripts
{
	<script src="~/plugins/flickity/flickity.min.js"></script>
	<script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
	<script src="~/scripts/home/home.js"></script>
	<script src="~/scripts/shop/productItem.js"></script>
}