﻿@using Web.Utils.Helpers
@using Web.Models.Auth
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>
	<title>@ViewBag.Title | Kicksware </title>
	<link rel="stylesheet" type="text/css" href="~/plugins/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/styles/css/common/common.css">
	<link rel="stylesheet" type="text/css" href="~/styles/css/layout/header.css">
	<link rel="stylesheet" type="text/css" href="~/styles/css/layout/search.css">
	<link rel="stylesheet" type="text/css" href="~/styles/css/layout/menu.css">
	<link rel="stylesheet" type="text/css" href="~/styles/css/layout/footer.css">
	<link rel="stylesheet" type="text/css" href="~/styles/css/layout/social.css">
	<link rel="stylesheet" type="text/css" href="~/styles/css/user/modal.css">
	<link rel="stylesheet" type="text/css" href="~/styles/css/responsive/layout.responsive.css">
	@await RenderSectionAsync("Styles", false)
</head>
<body class="theme-dark">
<div class="super_container">
	<div class="header-spacer"></div>
	<header class="header">
		<div class="header_container">
			<div class="header_content">
				<div class="logo">
					<a asp-controller="Home" asp-action="Index">KICKSWARE</a>
				</div>
				@{
					await Html.RenderPartialAsync("Header/_MainNavPartial");
					await Html.RenderPartialAsync("Header/_IconNavPartial");
				}
			</div>
		</div>
		<!-- Search Panel -->
		@{
			await Html.RenderPartialAsync("Header/_SearchPartial");
		}

		<!-- Slider Menu -->
		<div class="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
		@{
			await Html.RenderPartialAsync("Header/_MobileMenuPartial");
		}
	</header>
	<div id="scroll-trigger"></div>

	<div class="modal fade" tabindex="-1" id="auth-modal" data-keyboard="false" data-backdrop="static">
		@{
			await Html.RenderPartialAsync("../Auth/_AuthDialogPartial", new AuthCommonViewModel());
		}
	</div>
	<div class="modal fade preloader" tabindex="-1">
		<ul class="loader">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	@{
		var heroCoverPath = Convert.ToString(ViewData["HeroCoverPath"]);
		var heroBreadTitle = Convert.ToString(ViewData["HeroBreadTitle"]);
		var heroBreadSubTitle = Convert.ToString(ViewData["HeroBreadSubTitle"]);
		var heroLogoPath = Convert.ToString(ViewData["HeroLogoPath"]);
	}
	@if (!string.IsNullOrEmpty(heroCoverPath))
	{
		var heroId = System.IO.Path.GetFileNameWithoutExtension(heroCoverPath);
		<div class="hero-parallax" id="@heroId" data-scrollax-parent="true">
			<picture class="hero-cover" data-scrollax="properties: { 'translateY': '50%', 'opacity': 0.5 }">
				<source srcset="@heroCoverPath" media="(min-width: 600px)">
				<img src="@heroCoverPath" alt="">
			</picture>
			<div class="hero-content" data-scrollax="properties: { 'top': '75%'}">
				@if (!string.IsNullOrEmpty(heroLogoPath))
				{
					@Html.VectorIconRender(heroLogoPath, "logo")
				}
				<span class="bread">@heroBreadTitle?.ToUpper()</span>
				<span class="sub-bread">@heroBreadSubTitle?.ToUpper()</span>
				<breadcrumb></breadcrumb>
			</div>
		</div>
	}
	<div class="page-content">
		@RenderBody()
	</div>
	<div class="footer_overlay"></div>
	<footer class="footer">
		<div class="footer_content">
			<div class="footer_logo">
				<a asp-action="Index" asp-controller="Home">KICKSWARE</a>
			</div>
			<div class="copyright">
				Copyright &copy; @Convert.ToString(DateTime.Today.Year) All rights reserved
			</div>
			<div class="menu-social">
				@{
					await Html.RenderPartialAsync("_SocialPartial");
				}
			</div>
		</div>
	</footer>
</div>
@* IMPORT PLUGINS *@
<script src="~/plugins/jquery/dist/jquery.min.js"></script>
<script src="~/plugins/bootstrap/dist/js/popper.js"></script>
<script src="~/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/plugins/Isotope/isotope.min.js"></script>
<script src="~/plugins/easing/easing.js"></script>
<script src="~/plugins/parallax/parallax.min.js"></script>
<script src="~/plugins/greensock/ScrollToPlugin.js"></script>
<script src="~/plugins/greensock/gsap.js"></script>
<script src="~/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="~/plugins/scrollmagic/debug.addIndicators.min.js"></script>
<script src="~/plugins/greensock/animation.gsap.min.js"></script>
<script src="~/plugins/scrollmagic/scrollax.min.js"></script>
@* IMPORT MAIN SCRIPTS *@
<script src="~/scripts/common/common.js"></script>
<script src="~/scripts/layout/header.js"></script>
<script src="~/scripts/layout/menu.js"></script>
<script src="~/scripts/layout/search.js"></script>
<script src="~/scripts/user/auth.js"></script>
@* RENDER BODY SCRIPTS *@
@await RenderSectionAsync("Scripts", false)
@{
	await Html.RenderPartialAsync("_LockedHandlerPartial");
}
<script type="text/javascript">
        $.Scrollax();
    </script>
</body>
</html>