﻿@model Core.Model.IPagedModel<Core.Entities.IBaseEntity>

<div class="row pagination-control">
	<nav>
		<div class="left">
			<ul>
				<li class="prev">
					<button id="page-prev" value="@(Model.CurrentPage - 1)">❮</button>
				</li>
				@if (Model.HasPagePrevious)
				{
					@for (var pageIndex = new[] {Model.CurrentPage - 3, 1}.Max(); pageIndex <= Model.CurrentPage - 1; pageIndex++)
					{
						<li>
							<button id="@($"page-{pageIndex}")" value="@pageIndex">@pageIndex</button>
						</li>
					}
				}
			</ul>
		</div>
		<div class="caption">
			@if (Model.HasPageNext)
			{
				<button id="page-next-center" value="@(Model.CurrentPage + 1)">NEXT</button>
			}
			else
			{
				<button class="passive">NEXT</button>
			}
			<input type="hidden" id="page-current" value="@(Model.CurrentPage)"/>
		</div>
		<div class="right">
			<ul>
				@if (Model.HasPageNext)
				{
					@for (var pageIndex = Model.CurrentPage + 1; pageIndex <= new[] {Model.CurrentPage + 3, Model.PagesTotal}.Min(); pageIndex++)
					{
						<li>
							<button id="@($"page-{pageIndex}")" value="@pageIndex">@pageIndex</button>
						</li>
					}
				}
				<li class="next">
					<button id="page-next" value="@(Model.CurrentPage + 1)">❯</button>
				</li>
			</ul>
		</div>
	</nav>
</div>

