﻿@using Web.Utils.Helpers
@model Web.Models.Auth.AuthCommonViewModel

@{
	var dialogMode = "oauth";

	if (!string.IsNullOrEmpty(Model.Email) && Model.VerifyPending)
	{
		dialogMode = "verify locked";
	}
}

<div class="modal-dialog modal-lg auth-dialog @(dialogMode)">
	<div class="info-control">
		<button type="button" class="close-button" data-dismiss="modal"></button>
		<div class="info-item">
			<p>DON'T<br/>HAVE AN ACCOUNT?</p>
			<button class="button auth-toggle" id="sign_up-toggle">
				<span>SIGN UP</span>
			</button>
		</div>
		<div class="info-item">
			<p>ALREADY<br/>HAVE AN ACCOUNT?</p>
			<button class="button auth-toggle" id="login-toggle">
				<span>LOG IN</span>
			</button>

		</div>
	</div>
	<div class="form-controls">
		<div class="alert-banner"></div>
		<div id="oauth-content" class="modal-content">
			<div class="modal-header">
				<p class="login-title" id="login-title">Create an Account</p>
				<p class="login-message" id="login-header-msg">By creating an account you'll be able to buy, sell, comment, and more</p>
			</div>
			<div class="modal-body">
				<a class="button login-button facebook" id="facebook-btn" asp-controller="Auth" asp-action="Facebook">
					<svg class="facebook-logo" focusable="false" width="15" height="15" viewBox="0 0 1024 1024">
						<path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-92.4 233.5h-63.9c-50.1 0-59.8 23.8-59.8 58.8v77.1h119.6l-15.6 120.7h-104V912H539.2V602.2H434.9V481.4h104.3v-89c0-103.3 63.1-159.6 155.3-159.6c44.2 0 82.1 3.3 93.2 4.8v107.9z" fill="white"/>
					</svg>
					<span id="facebook-btn-caption">Sign up with Facebook</span>
				</a>
				<a class="button login-button google" id="google-btn" asp-controller="Auth" asp-action="Google">
					<svg class="google-logo" aria-hidden="true" focusable="false" width="15" height="15" viewBox="0 0 48 48">
						<path fill="#FFC107" d="M43.611 20.083H42V20H24v8h11.303c-1.649 4.657-6.08 8-11.303 8c-6.627 0-12-5.373-12-12s5.373-12 12-12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C12.955 4 4 12.955 4 24s8.955 20 20 20s20-8.955 20-20c0-1.341-.138-2.65-.389-3.917z"/><path fill="#FF3D00" d="M6.306 14.691l6.571 4.819C14.655 15.108 18.961 12 24 12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C16.318 4 9.656 8.337 6.306 14.691z"/><path fill="#4CAF50" d="M24 44c5.166 0 9.86-1.977 13.409-5.192l-6.19-5.238A11.91 11.91 0 0 1 24 36c-5.202 0-9.619-3.317-11.283-7.946l-6.522 5.025C9.505 39.556 16.227 44 24 44z"/><path fill="#1976D2" d="M43.611 20.083H42V20H24v8h11.303a12.04 12.04 0 0 1-4.087 5.571l.003-.002l6.19 5.238C36.971 39.205 44 34 44 24c0-1.341-.138-2.65-.389-3.917z"/>
					</svg>
					<span id="google-btn-caption">Sign up with Google</span>
				</a>
				<hr>
				<button class="button login-button" id="email-btn">
					<span id="email-btn-caption">Sign up with Email</span>
				</button>
			</div>
			<div class="modal-footer">
				<p class="login-privacy" id="login-privacy">
					By creating an account, I accept Sneaker's
					<a asp-controller="Home" asp-action="Privacy">Terms of Services</a>
					and <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>.
				</p>
			</div>
		</div>

		<div id="manual-content" class="modal-content">
			<div class="modal-header">
				<p class="login-title" id="auth-title">Create an Account</p>
			</div>
			<div class="modal-body">
				<form asp-controller="Auth" asp-action="Auth" asp-route-mode="SingUp" id="auth-form" class="auth-form">
					<div class="auth-input">
						<label for="email-input">Email Address</label>
						<input asp-for="Email" type="email" id="email-input" class="email-input" required="required">
					</div>
					<div class="auth-input">
						<label for="password-input">Password</label>
						<input asp-for="Password" type="password" id="password-input" class="password-input" required="required">
					</div>
					<div class="auth-checkbox" id="notify-footer-msg">
						<input asp-for="AuthSign" type="checkbox" id="notification-checkbox" name="regular_checkbox" class="regular_checkbox">
						<label for="notification-checkbox" class="checkbox_title">Sign up for emails from Kicksware</label>
					</div>
					<button type="submit" class="button login-button auth-button" id="auth-btn">
						<span id="auth-btn-caption">Sign up</span>
					</button>
				</form>
			</div>
			<div class="modal-footer">
				<p class="login-message" id="forgot-password">
					<a asp-action="ForgotPassword" asp-route-email="@Model.Email">Forgot your password?</a>
				</p>
				<p class="login-privacy" id="auth-privacy">
					By creating an account, I accept Kicksware
					<a asp-controller="Home" asp-action="Privacy">Terms of Services</a>
					and <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>.
				</p>
			</div>
		</div>

		<div id="verify-content" class="modal-content common-content">
			<div class="modal-header">
				<p class="login-title">Verify your Account</p>
			</div>
			<div class="modal-body">
				@Html.VectorIconRender("verify.svg")
				<p id="email-send-msg">A verification email was sent to <b>@Model.Email</b></p>
				<p>Please check your inbox. Once you verify your account, you will have full access to <strong>Kicksware</strong></p>
				<button class="button login-button auth-button" id="confirm-button">
					<span>Let me in</span>
				</button>
			</div>
			<div class="modal-footer">
				<p class="login-privacy">
					Didn't receive an email?
					<strong>
						<a id="resend-email" asp-controller="Auth" asp-action="ResendEmail" asp-route-email="@Model.Email">Resend email</a>
					</strong>
				</p>
			</div>
		</div>
	</div>
</div>