﻿// COLORS //
@import "../properties/colors";

// MIXINS
@import "../mixins/mixins";

.menu {
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	.with-theme({
		background: @primary;
	});
	box-shadow: -1px 5px 10px -3px rgba(55, 55, 55, .75);
	z-index: 1;

	.menu-container {
		width: 100%;
		height: 0;
		padding-top: 130px;
	}

	&.active {
		right: 0;

		.menu-container {
			height: 500px;
		}
	}

	.slider-menu-content {
		padding-left: 30px;
		padding-right: 30px;
		overflow: hidden;
		text-align: right;

		.slider-menu-search {
			display: inline;
			width: 100%;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.slider-menu-nav {
			.slider-menu-item {
				display: block;
				position: relative;
				vertical-align: middle;
			}

			.slider-menu-nav > li {
				border-bottom: solid 1px rgba(0, 0, 0, 0.2);
			}

			.slider-menu-item > a {
				display: block;
				.with-theme({
					color: @secondary;
				});
				font-weight: 700;
				line-height: 50px;
				height: 50px;
				font-size: 18px;
				.transition-properties(all 200ms ease)
			}

			.slider-menu-item > a:hover {
				color: #c3c1cc;
			}

			.slider-menu-item a i {
				display: none;
				margin-left: 8px;
			}

			.slider-menu-item.has-children > a > i {
				display: inline-block;
			}
		}

		svg {
			width: 30px;
			height: 30px;
			position: absolute;
			top: 3px;
			margin-left: -3px;
		}

		.menu-search-input {
			width: 100%;
			height: 40px;
			border: none;
			.with-theme({
	border-bottom: 3px solid @secondary;
});
			outline: none;
			padding-left: 35px;
		}

		.page_menu_selection {
			margin: 0;
			width: 100%;
			height: 0;
			overflow: hidden;
			z-index: 1;

			li {
				padding-right: 15px;
				line-height: 40px;

				&:last-child {
					padding-bottom: 20px;

					a {
						border-bottom: none;
					}
				}

				a {
					display: block;
					.with-theme({
						color: @secondary;
					});
					border-bottom: solid 1px rgba(0, 0, 0, 0.2);
					font-size: 18px;
					.transition-properties(all 300ms ease);

					&:hover {
						color: #c3c1cc;
					}
				}
			}
		}
	}
}

// HAMBURGER ICON //
.hamburger {
	display: none;
	position: absolute;
	width: 24px;
	height: 23px;
	right: 60px;
	top: 55px;
	z-index: 2;
	background: transparent;
	cursor: pointer;
	.transition-properties(all 500ms ease-in-out);

	span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		.with-theme({
			background: @secondary;
		});
		opacity: 1;
		left: 0;
		.transition-properties(all 25s ease-in-out);

		&:nth-child(1) {
			top: 0;
			-webkit-transform-origin: left center;
			-moz-transform-origin: left center;
			-o-transform-origin: left center;
			transform-origin: left center;
		}

		&:nth-child(2) {
			top: 8px;
			-webkit-transform-origin: left center;
			-moz-transform-origin: left center;
			-o-transform-origin: left center;
			transform-origin: left center;
		}

		&:nth-child(3) {
			top: 16px;
			-webkit-transform-origin: left center;
			-moz-transform-origin: left center;
			-o-transform-origin: left center;
			transform-origin: left center;
		}
	}

	&.open {
		right: 30px;

		span {
			&:nth-child(1) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
				top: -1px;
				left: 3px;
			}

			&:nth-child(2) {
				width: 0;
				opacity: 0;
			}

			&:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
				left: 3px;
			}
		}
	}
}