﻿// COLORS //
@import "../properties/colors";

// MIXINS
@import "../mixins/mixins";


.search-panel {
	position: absolute;
	width: calc(~"100vw + 6px");
	height: 110px;
	padding-left: inherit;
	padding-right: inherit;
	left: 115%;
	top: 0;
	overflow: hidden;
	.with-theme({
		background: @primary;
	});
	z-index: 100;
	.transition-properties(height 500ms cubic-bezier(.15, 1, .3, 1), left 1000ms cubic-bezier(.15, 1.1, .3, 1.5) 600ms;);

	&.active {
		left: -6px;
		height: 100vh;
		.transition-properties(left 500ms cubic-bezier(.15, 1.1, .3, 1.15), height 1000ms cubic-bezier(.15, 1.1, .3, 1.1) 600ms;);

		.search-header {
			height: 90px;
			.transition-properties(height 1000ms cubic-bezier(.15, 1.1, .3, 1.1); 600ms);
			input {
				.transition-properties(background 1000ms cubic-bezier(.15, 1.1, .3, 1.1); 600ms);
			}
		}
	}

	.search-panel-content {
		.flex-col();
		height: auto;
		padding: 20px 100px;
	}

	.search-header {
		.flex-row();
		height: 70px;
		width: 100%;
		border-radius: 10px;
		.elevation(6);
		.transition-properties(height 1000ms cubic-bezier(.15, 1.1, .3, 1.1););
		.with-theme({
			background: @hint;
		});
		z-index: 50;

		form {
			position: absolute;
			height: auto;
			left: 60px;
			right: 60px;
		}

		svg {
			width: 30px;
			height: 30px;
			position: absolute;
			left: 0;
			top: 5px;
			-webkit-filter: drop-shadow(2px 2px 2px fade(black, 50%));
			filter: drop-shadow(2px 2px 2px fade(black, 50%));

			g:nth-child(1) {
				.with-theme({
					fill: @secondary;
				});
			}

			g:nth-child(2) {
				fill: transparent
			}
		}

		input {
			height: 45px;
			width: 100%;
			background: inherit;
			border: none;
			.with-theme({
				background: transparent;
				border-bottom: 3px solid @secondary;
			});
			.transition-properties(background 1000ms cubic-bezier(.15, 1.1, .3, 1.1););
			border-radius: 0;
			outline: none;
			padding: 0 50px;
			font-size: 25px;
			text-transform: uppercase;
		}

		.close-button {
			position: absolute;
			margin: 0;
			right: 1px;
			bottom: 8px;
			opacity: 0.5;
			height: 40px;
			width: 40px;
			padding: 10px 0 0 10px;

			&:before, &:after {
				top: 5px;
				right: 10px;
				.elevation(4)
			}
		}
	}

	.search-results {
		height: calc(~"100vh - 110px");
		width: 100vw;
		margin: 0 -100px;
		padding: 30px 100px;
		overflow-y: ~"overlay";
	}

	.results-view {
		display: grid;
		grid-auto-rows: 1fr;
		grid-gap: 15px;
		.transition-properties(all 500ms cubic-bezier(.155,1.105,.295,1.12));

		&.changing {
			margin-top: 80%;
		}

		&.grid {
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: 1fr;

			.product-cell {
				.flex-col(@align: stretch);

				.thumb {
					img {
						max-height: 350px;
					}
				}
			}
		}

		&.list {
			grid-template-columns: repeat(1, 1fr);
			grid-auto-rows: 0.5fr;

			.product-cell {
				.flex-row(@justify: flex-start, @align: stretch);

				&:hover:before,
				&.selected:before {
					width: calc(~"100% + 10px");
					left: -5px;
				}

				.thumb {
					img {
						max-height: 180px;
					}
				}

				.info-header {
					align-self: flex-start;
				}

				.info-footer {
					flex: 1;
					.flex-col(@justify:  flex-start, @align: flex-start);
					padding: 0 15px;
					flex-wrap: wrap;
					.with-theme({
						border: 0;
						border-left: 2px solid @secondary;
					});


					.favorite{
						top: 0;
					}

					div.description {
						.flex-col(@justify: flex-end, @align: flex-start);
						flex: 1;
					}
				}
			}
		}

		.result-cell {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 20px;
			.with-theme({
				background: @hint;
				.elevation(2, @elevation);
			});
			z-index: 0;
			.transition-properties(transform 300ms cubic-bezier(.155,1.105,.295,1.12), box-shadow 300ms, -webkit-transform 300ms cubic-bezier(.155,1.105,.295,1.12););

			&:hover,
			&.selected {
				z-index: 1;
				padding: 11px;
				outline: none;
				.with-theme({
					background: @hint;
					.elevation(9, @elevation);
				});
				.transform-properties(scale(1.10));

				.info-footer .favorite {
					opacity: 1;
				}
			}

			&:hover:before,
			&.selected:before {
				position: absolute;
				content: "";
				z-index: 2;
				width: calc(~"100% + 16px");
				height: calc(~"100% + 16px");
				top: -8px;
				left: -8px;
				.with-theme({
					background: @hint;
					.elevation(9, @elevation);
				});
			}

			&:hover *,
			&.selected * {
				z-index: 3;
			}

			&.selected {
				z-index: 2;
			}

			.thumb {
				display: flex;
				justify-content: center;
				align-content: center;

				img {
					max-width: 100%;
					max-height: 350px;
					object-fit: cover;
				}
			}

			.info-header {
				position: absolute;
				.flex-row(@justify: space-between, @align: space-between);
				align-self: flex-end;

				.price {
					font-size: 12px;
					font-weight: 600;
					letter-spacing: 1px;
					.with-theme({
						color: @secondary;
					});
				}
			}


			.info-footer {
				.flex-col(@justify: space-between, @align: flex-start);
				display: flex;
				flex-direction: column;
				height: auto;
				padding-top: 10px;
				.with-theme({
					border-top: 2px solid @secondary;
				});

				div {
					text-align: start;
					letter-spacing: 0.5px;
					.with-theme({
						color: @secondary;
					});

					&.brand-title a {
						font-size: 15px;
						font-weight: 500;
						color: inherit;
					}

					&.model-title a {
						font-size: 18px;
						font-weight: 600;
						color: inherit;
					}

					&.description {
						display: none;
						font-size: 16px;
						font-weight: 500;

						p {
							font-size: 17px;
							font-weight: 600;
						}
					}
				}

				.button {
					position: absolute;
					margin: 0;
					top: 15px;
					right: 0;
					width: 80px;
					height: 30px;
					border-width: 2px;

					& span {
						display: inherit;
						align-items: center;
						font-size: 13px;
						height: 28px;
					}

					& svg {
						position: relative;
						width: 18px;
						height: 18px;
					}
				}

				.favorite {
					position: absolute;
					align-self: flex-end;
					cursor: pointer;
					opacity: 0;
					top: 50%;
					.transition-properties(all 300ms ease, opacity 100ms ease;);

					input[type=checkbox] {
						opacity: 0;
						position: absolute;
						width: 100%;
						height: 100%;
					}

					input[type=checkbox]:checked + svg {
						g {
							.with-theme({
								fill: crimson ;
							});
						}
					}

					svg {
						width: 24px;
						height: 24px;
					}

					g:nth-child(2) {
						.with-theme({
							fill: @secondary;
						});
					}

					g:nth-child(1) {
						fill: transparent
					}

					&:hover {
						.transform-properties(scale(1.15));

						svg {
							-webkit-filter: drop-shadow(2px 2px 2px fade(black, 50%));
							filter: drop-shadow(2px 2px 2px fade(black, 50%));
						}

						g {
							.with-theme({
								fill: crimson;
							});
						}
					}
				}
			}

			&.selected .button {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
			}
		}
	}
}