﻿@using Core.Reference
@using Newtonsoft.Json
@using Web.Data.Catalog
@model SneakerProductViewModel

@{
	Layout = "~/Views/Sell/NewProduct.cshtml";
}

@section Styles
{
	<link rel="stylesheet" type="text/css" href="~/styles/css/sell/details.css"/>
}

<div class="details-content">
	<div class="row">
		<div class="col-sm mx-3">
			<div class="row my-3">
				<!-- Brand -->
				<label asp-for="BrandName" for="brand_name">Brand</label>
				<input asp-for="BrandName" type="text" id="brand_name" class="autocomplete-input sell_input" required="required">
				<span asp-validation-for="BrandName" class="text-danger"></span>
			</div>
			<div class="row my-3">
				<!-- Type -->
				<label asp-for="Price" for="type-input">Type</label>
				<div class="list-select">
					<select asp-for="Type" id="type-input" asp-items="@Html.GetEnumSelectList<SneakerType>()" class="dropdown_item_select sell_input" placeholder="Type" required="required">
						<option disabled="">Type</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm mx-3">
			<div class="row my-3">
				<!-- Model -->
				<label asp-for="ModelName" for="model_name">Model</label>
				<input asp-for="ModelName" type="text" id="model_name" class="sell_input" required="required">
				<span asp-validation-for="ModelName" class="text-danger"></span>
			</div>
			<div class="row my-3">
				<!-- Size -->
				<label asp-for="Size" for="size-input">Size</label>
				<div class="list-select">
					<select asp-for="Size" id="size-input" class="dropdown_item_select sell_input" placeholder="Size" required="required">
						<option value="0" disabled>Size</option>
						@foreach (var sneakerSize in Catalog.SneakerSizesList)
						{
							<option value=@sneakerSize>@sneakerSize</option>
						}
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm mx-3">
			<div class="row my-3">
				<!-- Color -->
				<label asp-for="Color" for="brand_name">Color</label>
				<input asp-for="Color" type="text" id="color-input" class="autocomplete-input sell_input" required="required">
				<span asp-validation-for="Color" class="text-danger"></span>
			</div>
			<div class="row my-3">
				<!-- Condition -->
				<label asp-for="Condition" for="condition-input">Condition</label>
				<div class="list-select">
					<select asp-for="Condition" id="condition-input" asp-items="@Html.GetEnumSelectList<SneakerCondition>()" class="dropdown_item_select sell_input" placeholder="Condition" required="required">
						<option disabled="">Type</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm mx-3">
		</div>
	</div>
	<div class="row px-3 py-3">
		<!-- Description -->
		<label asp-for="Description" for="description">Description</label>
		<textarea asp-for="Description" id="description" class="sell_input sell_textarea"></textarea>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
</div>

@section Scripts
{
	<script type="text/javascript">
        autocompleteInit($("#brand_name").get(0), @Html.Raw(JsonConvert.SerializeObject(Catalog.SneakerBrandsList)));
        autocompleteInit($("#color-input").get(0), @Html.Raw(JsonConvert.SerializeObject(Catalog.ColorsList)));
        initCustomDropDown();
        CurrencySigns = @Html.Raw(JsonConvert.SerializeObject(Catalog.CurrencySigns));
    </script>
}