﻿@using System.Reflection
@using Core.Reference
@using Newtonsoft.Json
@using Web.Data.Catalog
@model SneakerProductViewModel

@{
	Layout = "~/Views/Sell/NewProduct.cshtml";
}

@section Styles
{
	<link rel="stylesheet" type="text/css" href="~/styles/css/sell/payment.css"/>
}

<div class="payment-content">
	<div class="row">
		<div class="col-sm mx-3">
			<div class="row py-3 d-flex flex-column">
				<!-- Price -->
				<label asp-for="Price" for="price-max">Price</label>
				<div class="price-range">
					<span class="min-price-display">0</span>
					<div class="multi-range">
						<input asp-for="Price" type="range" id="price-max" class="price-slider" min="50" value="@Model.Price" max="1000"/>
						<input asp-for="PriceOffset" type="range" id="price-min" class="price-slider" min="50" value="@Model.PriceOffset" max="1000"/>
					</div>
					<span class="max-price-display">0</span>
				</div>
				<span asp-validation-for="Price" class="text-danger"></span>
				<div class="price-action-panel">
					<button type="button" class="button price-button">
						<span>–</span>
					</button>
					<button type="button" class="button price-button">
						<span>SET MARKET PRICE</span>
					</button>
					<button type="button" class="button price-button">
						<span>+</span>
					</button>
				</div>
			</div>
			<div class="row py-3 toggle-box">
				<span>Accept Offers</span>
				<div class="checkbox-wrapper">
					<input type="checkbox" id="offers-sign">
					<svg class="is-checked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 426.67 426.67">
						<path d="M153.504 366.84c-8.657 0-17.323-3.303-23.927-9.912L9.914 237.265c-13.218-13.218-13.218-34.645 0-47.863 13.218-13.218 34.645-13.218 47.863 0l95.727 95.727 215.39-215.387c13.218-13.214 34.65-13.218 47.86 0 13.22 13.218 13.22 34.65 0 47.863L177.435 356.928c-6.61 6.605-15.27 9.91-23.932 9.91z"/>
					</svg>
					<svg class="is-unchecked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.982 212.982">
						<path d="M131.804 106.49l75.936-75.935c6.99-6.99 6.99-18.323 0-25.312-6.99-6.99-18.322-6.99-25.312 0L106.49 81.18 30.555 5.242c-6.99-6.99-18.322-6.99-25.312 0-6.99 6.99-6.99 18.323 0 25.312L81.18 106.49 5.24 182.427c-6.99 6.99-6.99 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0L106.49 131.8l75.938 75.937c6.99 6.99 18.322 6.99 25.312 0 6.99-6.99 6.99-18.323 0-25.313l-75.936-75.936z" fill-rule="evenodd" clip-rule="evenodd"/>
					</svg>
				</div>
			</div>
			<div class="row py-3">
				<label for="currency">Currency</label>
				<div class="list-select">
					<select asp-for="Currency" asp-items="@Html.GetEnumSelectList<Currency>()" class="dropdown_item_select sell_input" id="currency">
						<option disabled="">Currency</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm mx-3">
			<div class="row py-3">
			</div>
		</div>
	</div>
</div>


@section Scripts
{
	<script type="text/javascript">
        initCustomDropDown();
        CurrencySigns = @Html.Raw(JsonConvert.SerializeObject(Catalog.CurrencySigns));
    </script>
	<script src="~/scripts/sell/payment.js"></script>
}