﻿@using Web.Utils.Helpers
@using Microsoft.AspNetCore.Identity
@using Core.Entities.Users
@inject SignInManager<User> SignInManager

<nav class="icon-nav">
	<ul>
		<li class="theme dark">
			@Html.VectorIconRender("theme.svg") @*TODO Nastya sunny easter egg*@
		</li>
		<li class="account expandable">
			@Html.VectorIconRender("user.svg")
			@if (!SignInManager.IsSignedIn(User))
			{
				<ul>
					<li class="button header-button" id="login-btn">
						<span>Login</span>
					</li>
					<li class="button header-button-strong" id="sign-up-btn">
						<span>Sing Up</span>
					</li>
				</ul>
			}
		</li>
		<li class="favorite">
			<a asp-controller="Profile" asp-action="Profile" asp-route-mode="favorite">
				@Html.VectorIconRender("favorite.svg")
			</a>
		</li>
		<li class="search">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<g id="search-path">
					<path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396l1.414-1.414l-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8s3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6s-6-2.691-6-6s2.691-6 6-6z"/><path d="M11.412 8.586c.379.38.588.882.588 1.414h2a3.977 3.977 0 0 0-1.174-2.828c-1.514-1.512-4.139-1.512-5.652 0l1.412 1.416c.76-.758 2.07-.756 2.826-.002z"/>
				</g>
				<g>
					<path d="M10 2c-4.411 0-8 3.589-8 8s3.589 8 8 8a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396l1.414-1.414l-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8z"/>
				</g>
			</svg>
		</li>
	</ul>
</nav>